.header {
    width: 100%;
    display: flex;
    background-color: rgba(179, 247, 170, 0.911);
  }
  
  .my-photo {
    width: 20%;
  }
  
  .my-photo img {
    width: 80%;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  .header-content {
    width: 80%;
    margin: 20px 80px;
  }

  .contenido {
      background-color:  rgba(248, 180, 180, 0.85);
      margin: 0;
  }

  section {
    padding: 30px;
  }
  

  a:hover, button:hover {
    cursor: pointer;
  }

  button:hover {
      border: 3px solid blue;
  }
  
  .experience,
  .studies {
    display: none;
  }
  
  .active {
    display: block;
    background-color: azure;
    padding: 10px;
  }

  footer {
      background-color: rgba(180, 196, 248, 0.85);
      margin: 0;
      padding: 30px;
  }